<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/styles/style.css">
  <link rel="stylesheet" href="/styles/select.css">
  <title>Bread Tracker</title>
</head>
<body>
<main>
  <div class="banner">

      <h2>Let's track that <span class="bread"> bread!</span></h2>

  </div>
  <div class="banner2">
    <img class="breadimg" src="/images/bread.png" alt="">
    <div class="balance-amount">






      <div class="balance">
        Balance
      </div>
      <% balance = 1000  %>
      <% for transaction in @transactions  %>
      <% balance -= transaction.amount.to_f %>
      <% end %>
      <%= balance.round(2) %>
    </div>
    <div class="alltrans">


    <a href="/">All Transactions</a>
    </div>
  <nav>
    <ul>

    </ul>
  </nav>
  </div>
<section id="content">
  <%= yield %>
</section>
</main>
</body>
</html>
