<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/style.css">
  <title>Bread Tracker</title>
</head>
<body>
<main>
  <div class="banner">

      <h2>Let's track that <span class="bread"> bread!</span></h2>

  </div>
  <nav>
    <ul>
      <li><a href="/">All transactions</a></li>
    </ul>
  </nav>
<section id="content">
  <%= yield %>
</section>
</main>
</body>
</html>
