.balance-header {
  display:flex;
  color: red;
}

a{
  text-decoration: none!important;
  cursor: pointer;
  color:inherit;
}


/* .dropdown{
position:relative;
display: inline-block;
height: 42px;
width: 260px;
} */

.dropdown{
  position:relative;
  display: inline-block;
background-color: #1566d1;
border-radius: 25px;
padding: 20px;
width: 260px;
height: 10px;
color: #f9f9f9;
font-size: 16px;
text-align: center;
line-height: 0.125em;
font-weight: bold;
}

.dropbtn{
  display: inline-block;
  position: relative;
  background-color: transparent;
  color: #f9f9f9;
  font-size: 16px;
  text-align: center;
  line-height: 0.125em;
  font-weight: bold;
  border: 0;
}


.dropdown-content{
  display:none;
  position: absolute;
  background-color: #f9f9f9;
  color: #696969;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
  top: 40px;
  right: 48px;
}

.dropdown:hover .dropdown-content {
  display: block;
}
