<form action="/transactions/edit-tag" method="POST">



  <h1>Edit tag details</h1>

  <label>
    Choose existing tag:
    <select class="select-css" name="tag_id">
      <% for tag in @tags %>
      <option value="<%= tag.id %>">
        <%= tag.tag_name %>
      </option>
      <% end  %>
    </select>
  </label>


  <div class="edit-tag">
    Change to:
    <input type="text" name="tag_name"/>
    <div class="addtransaction">
      <input class="addtransactionbutton" type="submit" value="Update tag">
    </div>
  </div>

  </form>

  <label>
  <form action="/transactions/add-tag" method="POST">
    New tag:

    <input type="text" name="tag_name" value="">
    <div class="addtransaction">
    <input class="addtransactionbutton" type='submit' value="Add tag">
    </div>

  </form>
  </label>
