<form action="/transactions/edit-merchant" method="POST">



  <h1>Edit Merchant details</h1>

  <label>
    Choose existing Merchant:
    <select class="select-css" name="merchant_id">
      <% for merchant in @merchants %>
      <option value="<%= merchant.id %>">
        <%= merchant.merchant_name %>
      </option>
      <% end  %>
    </select>
  </label>


  <div class="edit-merchant">
    Change to:
    <input type="text" name="merchant_name"/>
      <input class="btn btn--danger" type="submit" value="Update Merchant"/>

  </div>

  </form>

  <label>
  <form action="/transactions/add-merchant" method="POST">
    New Merchant:
    <input type="text" name="merchant_name" value="">
    <input class="bt btn--action" type='submit' value="Add merchant">


  </form>
  </label>
