<h1>Add your transaction details</h1>

<form action="/" metohd="post">
<label>
  Choose existing Merchant:
  <select name="merchant_id">
    <% @merchants.uniq! {|merchant| merchant.merchant_name}  %>
    <% for merchant in @merchants %>
    <option value="<%= merchant.id %>"><%= merchant.merchant_name %></option>
    <% end  %>
  </select>
</label>

<label>
  Add a tag:
  <select name="tag_id" id="">
    <% @tags.uniq! {|tag| tag.tag_name}  %>
    <% for tag in @tags %>
    <option value="<%= tag.id %>"><%= tag.tag_name %></option>
    <% end  %>
  </select>

<label>
Amount:
<input type="number">
  
</label>



</label>



<input class="bt btn--action" type='submit' value="Add">

</form>
