<h1>Lets track that bread you get!</h1>
<div class="btn--wrapper">
<a class ="btn btn--action" href="new">New Transaction</a>
</div>

<div class="dropdown">
<button class="dropbtn">Sort by</button>
  <div class = "dropdown-content">
    <a href="tag">Tag</a>
    <a href="merchant">Merchant</a>
  </div>
</div>
<hr/>
<% for transaction in @transactions %>
<p>Merchant: <%= transaction.merchant_id%></p>
<p>Amount: <%= transaction.amount%> </p>
<p>Date: <%= transaction.date %></p>
<p>Tag: <%= transaction.tag_id %></p>
<hr/>

<% end  %>
